.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2fa7d6;
    border: none;
}

/* header left side */
.header-logo {
    font-size: 2rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-left: 1.2rem;
}

/* Login side */
.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
    .user-logo {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
    }
    .btn-login {
        background-color: white;
        border: none;
        border-radius: 10px;
        color: rgb(99, 99, 99);
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;
    }
}